.page-container{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
}
.page-left{
    width: 70%;
    height: 100vh;
    background-image: url(../../assets/images/bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    
}
.page-left-inner{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.logo{
    margin-top: 80px;
}
.page-right{
    width: 30%;
    height: 100vh;
    background-image: url(../../assets/images/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form-design{
    border: 1px solid #fff;
    height: auto;
    width: 470px;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    right: -45%;
    color: #000;
     top:80px;
   padding: 2px;
}
.form-group{
    margin-bottom: 10px;
}
.form-inner-wrap{
    width: 80%;
    margin: 0 auto;
}
.form-title{
    color: #09D0A8;
}
.input-wrap{
    display: flex;
    align-items: center;
    border-left: 10px solid #09D0A8;
    padding: 12px 0;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-label{
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block;
}
.input-key-icon{
    height: 20px;
    padding: 0 10px;
}
.form-input{
    border: none;
    outline: none;
    font-size: 18px;
    width: 70%;
}
.apply-btn{
    background-color: #09D0A8;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #09D0A8;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
.left-border{
    width: 10px;
    height: 40px;
    background-color: #09D0A8;
}
.back-btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}
.back-icon{
    margin-right: 10px;
}
.back-btn{
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #09D0A8;
    cursor: pointer;
    margin-top: 8px;
}
.footer-wrapper{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -82vh;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-action{
    color: #09D0A8;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.footer-top-right{
    display: flex;
}
.footer-menu-item{
    padding: 5px 10px;
    cursor: pointer;
}
.divider{
    height: 2px;
    background: #777;
}
.footer-text{
    text-align: center;
}
.required-sign{
color: red;
}